:root {
  --font-regular: "Roboto Regular", sans-serif;
  --font-medium: "Roboto Medium", sans-serif;
  --font-bold: "Roboto Bold", sans-serif;

  --black: #1b1f2b;
  --white: #fff;
  --green-100: #e0f0e5;
  --green-200: #627f7e;
  --green-300: #3b7e7b;
  --green-400: #286562;
  --beige-100: #f9f7f4;
  --beige-200: #f4f0e9;
  --orange-100: #f8e6be;
  --orange-200: #efa501;
  --gray-300: #a6a6a6;
  --gray-200: #d9dfdb;
  --gray-100: #f1f3f2;

  --size-icon-small-inst: 22px;
  --size-icon-small-fb: 21px;
  --size-icon-small-vk: 20px;
  --size-icon-big: 26px;
}

* {
  box-sizing: border-box;

  font-family: var(--font-regular);

  transition: background-color 0.4s ease; /* навесить только на нужное */
}

body {
  background: url("../assets/images/header-img.png") no-repeat center/contain,
    linear-gradient(
      var(--beige-100) 488px 8096px,
      var(--beige-200) 8096px 8184px
    );
  background-size: 100vw 488px, 100vw 7696px;
  background-position: top, bottom;

  overflow-x: hidden;
  width: 100vw;
}

@media (width >= 360px) {
  body {
    background: url("../assets/images/header-img.png") no-repeat center/contain,
      linear-gradient(
        var(--beige-100) 831px 8096px,
        var(--beige-200) 8096px 8184px
      );
    background-size: 100vw 831px, 100vw 8184px;
    background-position: top, bottom;
  }
}

p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  padding: 0 21px;
}

@media (min-width: 1024px) {
  .container {
    width: 918px;
    padding: 0 53px;
  }
}

@media (min-width: 1920px) {
  .container {
    width: 1170px;
    padding: 0;
  }
}

.heading {
  margin: 0;

  font-family: var(--font-bold);
  text-align: center;
}

.heading_1 {
  margin: 0 auto;

  color: var(--white);
}

.heading_1,
.heading_2 {
  font-size: 34px;
  line-height: 112%;
  letter-spacing: 0.02em;
}

.heading_2 {
  color: var(--black);
}

.heading_3 {
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--white);
}

@media (min-width: 1024px) {
  .heading_1 {
    font-size: 96px;
    line-height: 109%;
  }

  .heading_2 {
    font-size: 59px;
    line-height: 124%;
    letter-spacing: 0;
  }

  .heading_3 {
    font-family: var(--font-medium);
    font-size: 35px;
    line-height: 122%;
    letter-spacing: normal;
  }
}

.text {
  font-size: 16px;
  line-height: 142%;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .text {
    font-size: 20px;
  }

  .text_small {
    font-size: 17px;
    letter-spacing: -0.01em;
  }
}

.text_white {
  color: var(--white);
}

.text_gray {
  color: var(--gray-300);
}

.text_black {
  color: var(--black);
}

.text_bold {
  font-family: var(--font-bold);
}

@media (min-width: 1024px) {
  .choose-tour__item .text {
    font-size: 23px;
    line-height: 122%;
  }

  .choose-tour__item .text_bold {
    font-family: var(--font-bold);
  }
}

@media (min-width: 1024px) {
  .text_bold {
    font-family: var(--font-medium);
  }
}

.link {
  text-decoration: none;
}

@media (min-width: 1024px) {
  .link_white .text:hover {
    border-bottom: 1px solid var(--white);
  }

  .link_white .text:active {
    color: var(--orange-200);
    border-bottom: 1px solid var(--orange-200);
  }

  .link_black .text:hover {
    border-bottom: 1px solid var(--black);
  }

  .link_black .text:active {
    color: var(--green-400);
    border-bottom: 1px solid var(--green-400);
  }
}

.link-more {
  padding: 7px 59px 7px 20px;
  margin-left: -20px;
  width: max-content;

  border-radius: 50px;
}

@media (min-width: 1024px) {
  .choose-tour__card:hover .link-more {
    background: var(--green-400);
  }

  .choose-tour__card:active .link-more {
    background-color: var(--orange-200);
  }
}

/* header start */

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 0 20px;
}

@media (min-width: 1024px) {
  .header__container {
    padding: 0 4px;
  }
}

@media (min-width: 1920px) {
  .header__container {
    padding: 0 1px;
  }
}

.logo {
  width: 133px;
  height: 22px;
}

@media (width >= 360px) {
  .logo {
    width: 181.84px;
    height: 30.24px;
  }
}

.nav__list {
  display: none;
  padding: 0;
}

@media (width >= 360px) {
  .nav__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
}

@media (width >= 1024px) {
  .nav__list {
    gap: 50px;
  }
}

.nav__item {
  list-style-type: none;
}

.contacts {
  width: 155px;
  height: 28px;
}

/* header finish */

/* main start */

.main {
  padding-bottom: 75px;
}

@media (min-width: 1024px) {
  .main {
    padding-bottom: 135px;
  }
}

.main__container {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

@media (min-width: 1024px) {
  .main__container {
    gap: 135px;
  }
}

.intro-section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  text-align: center;
  /*  align-items: center;
  margin: 0 auto; */
  /* width: 100%; */
}

/* @media (min-width: 1024px) {
  .intro-section {
    width: 529px;
  }
} */

/* .intro-section p {
  margin-top: 20px; */
/* margin-bottom: 40px; */
/*  margin-bottom: 50px; */ /* исправить отступы, сделать для родительского блока! */

/*   text-align: center;
} */

/* @media (width >= 360px) */
/* @media (min-width: 1024px) {
  .intro-section p {
    margin-top: 30px;
    /* margin-bottom: 100px; */
/* width: 79%;
  }
}

.intro-section_small {
  padding-bottom: 40px;
} */

/* @media (width >= 360px) */
/* @media (min-width: 1024px) {
  .intro-section_small {
    padding-bottom: 100px;
  }
} */

/* hero start */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 52px 0;

  text-align: center;
}

@media (width >= 360px) {
  .hero {
    gap: 40px;
    padding: 119px 0;
  }
}

@media (width >= 360px) {
  .hero__text {
    padding: 0 234px;
  }
}

@media (width >= 1024px) {
  .hero__text {
    padding: 0 303px;
  }
}

.hero__link {
  padding: 5px 20px;
  width: 114px;
  height: 33px;

  background: var(--white);
  border-radius: 10px;
}

/* hero finish */

/* choose-tour start */

.choose-tour {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (min-width: 1024px) {
  .choose-tour {
    gap: 100px;
  }
}

.intro-section.choose-tour__intro-section {
  gap: 30px;
}

@media (min-width: 1024px) {
  .intro-section.choose-tour__intro-section {
    gap: 35px;
  }
}

.choose-tour__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  list-style-type: none;
}

@media (min-width: 1024px) {
  .choose-tour__list {
    gap: 30px;
  }
}

.choose-tour__button {
  position: relative;

  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
  overflow: hidden;
  transition: color 0.8s ease;
}

.choose-tour__button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 0.4s ease, background-color 0.4s ease;
}

@media (min-width: 1024px) {
  .choose-tour__button::before {
    margin-top: 6px;
  }
}

.choose-tour__button_active {
  pointer-events: none;
}

.choose-tour__button:hover::before {
  transform: translateX(0);
  background-color: var(--black);
}

.choose-tour__button.choose-tour__button_active::before {
  transform: translateX(0);
  background-color: var(--orange-200);
}

.choose-tour__button .text {
  transition: color 0.4s ease;
}

.choose-tour__button_active .text {
  color: var(--orange-200);
}

.choose-tour__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 318px);
  row-gap: 18px;
}

@media (min-width: 1024px) {
  .choose-tour__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 531px);
    gap: 18px;
  }
}

@media (min-width: 1920px) {
  .choose-tour__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 531px);
    gap: 30px;
  }
}

.choose-tour__card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  overflow: hidden;

  border-radius: 20px;

  transition: background-color 0.3s ease;
}

@media (min-width: 1024px) {
  .choose-tour__card {
    padding: 50px;

    border-radius: 50px;
  }
}

.choose-tour__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: 20px;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%
  );

  z-index: 1;
}

@media (min-width: 1024px) {
  .choose-tour__card::before {
    border-radius: 50px;
  }
}

.choose-tour__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: inherit;
  background-size: cover;
  background-position: center;

  transition: transform 0.3s ease;
}

.choose-tour__card:hover::after {
  transform: scale(1.2);
}

.choose-tour__card_1 {
  background-image: url("/assets/images/card-tour-photo-1.jpg");
}

.choose-tour__card_2 {
  background-image: url("/assets/images/card-tour-photo-2.jpg");
}

.choose-tour__card_3 {
  background-image: url("/assets/images/card-tour-photo-3.jpg");
}

.choose-tour__card_4 {
  background-image: url("/assets/images/card-tour-photo-4.jpg");
}

.choose-tour__card_5 {
  background-image: url("/assets/images/card-tour-photo-5.jpg");
}

.choose-tour__card_6 {
  background-image: url("/assets/images/card-tour-photo-6.jpg");
}

.choose-tour__card-content,
.link-more {
  z-index: 2;
}

.choose-tour__card-content .text {
  letter-spacing: -0.01em;
}

.link-more {
  position: relative;
}

.link-more::after {
  content: "";
  position: absolute;

  width: 24px;
  height: 26px;
  margin-left: 15px;
  top: 50%;
  transform: translateY(-50%);

  background-size: contain;
  background-image: url("/assets/icons/arrow-bt.svg");

  z-index: 2;
}

.choose-tour__card-content {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

@media (min-width: 1024px) {
  .choose-tour__card-content {
    gap: 16px;
  }
}
/* choose-tour finish */

/* collect-tour start */

.collect-tour__form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 74px) auto;
  row-gap: 30px;
  padding: 20px 20px 40px;

  border-radius: 30px;
  background-color: var(--white);
}

/* @media (width >= 360px) */
@media (min-width: 1024px) {
  .collect-tour__form {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 104px) auto;
    row-gap: 33px;
    column-gap: 20px;
    padding: 60px;
  }
}

/* @media (width >= 1024px) */
@media (min-width: 1920px) {
  .collect-tour__form {
    column-gap: 30px;
    padding: 70px;
  }
}

.form__group {
  padding: 0;
  margin: 0;
  width: 100%;

  border: none;
  border-radius: 0;
}

.form__element {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.form__input-field {
  padding: 10px;
  /* width: 278px; */
  width: 100%;
  height: 43px;

  background: var(--beige-100);
  border: 1px solid var(--beige-200);
  border-radius: 10px;
}

/* @media (width >= 360px) */
@media (min-width: 1024px) {
  .form__input-field {
    padding: 20px;
    height: 68px;
  }
}

/* @media (width >= 1024px) {
  .form__input-field {
    width: 500px;
  }
} */

.form__input-field::placeholder {
  color: var(--gray-300);
}

.form__input-field:valid {
  color: var(--black);
}

.form__input-field:focus {
  background: var(--beige-200);
  border: 1px solid var(--gray-300);
  outline: none; /* убрать стандартное выделение браузера при фокусе */
}

.form__input-field:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 2em var(--beige-100) inset;
  box-shadow: 0 0 0 2em var(--beige-100) inset; /* для других браузеров */
}

.form__input-field:-moz-autofill {
  background-color: var(--beige-100) !important;
  color: #000 !important;
}

.form__custom-select {
  position: relative;
  width: 100%;
}

.form__select {
  /*  padding: 10px;
  width: 278px;
  height: 43px;

  background: var(--beige-100);
  border: 1px solid var(--beige-200);
  border-radius: 10px; */

  /* border: none; */

  /*  width: 100%; */

  appearance: none; /* Убираем стандартный вид */
  -moz-appearance: none; /* Убираем стандартный вид для Firefox */
  -webkit-appearance: none; /* Убираем стандартный вид для Safari */
}

.arrow-down {
  position: absolute;
  right: 10px;
  top: 50%;

  width: 26px;
  height: 26px;

  transform: translateY(-50%);

  pointer-events: none;
  cursor: pointer;
}

.form__input-date {
  -webkit-appearance: none; /* убрать стандартный стиль для WebKit браузеров */
  -moz-appearance: textfield; /* убрать стандартный стиль для Firefox */
  appearance: none; /* убрать стандартный стиль */

  text-transform: uppercase;
  letter-spacing: -0.035em;
}

.form__input-date::-webkit-calendar-picker-indicator {
  display: none; /* Скрывает значок календаря и спиннеры в WebKit браузерах */
}

/* @media (width >= 360px) */
@media (min-width: 1024px) {
  .form__container-comment {
    grid-column: span 2;
  }
}

.form__input-comment {
  /* width: 278px; */
  height: 132px;
  resize: none;
}

/* @media (width >= 360px) */
@media (min-width: 1024px) {
  .form__input-comment {
    height: 152px;
  }
}

/*
@media (width >= 1024px) {
  .form__input-comment {
    width: 1030px;
    height: 152px;
  }
} */

.form__container-radio-buttons {
  height: 54px;
}

/* @media (width >= 360px) */
@media (min-width: 1024px) {
  .form__container-radio-buttons {
    grid-column: span 2;
    height: 64px;
  }
}

.form__radio-buttons {
  display: flex;
  gap: 30px;
}

/* @media (width >= 360px) */
@media (min-width: 1024px) {
  .form__radio-buttons {
    gap: 31px;
  }
}

.form__radio-button {
  display: flex;
  gap: 10px;
}

/* @media (width >= 360px) */
@media (min-width: 1024px) {
  .form__radio-button {
    gap: 11px;
  }
}

.form__radio-button input[type="radio"] {
  display: none;
}

.form__custom-radio-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* @media (width >= 360px) */
@media (min-width: 1024px) {
  .form__custom-radio-button {
    width: 26px;
    height: 26px;
  }
}

.form__custom-radio-button-check {
  opacity: 0;
}

.form__radio-button
  input[type="radio"]:checked
  + .form__custom-radio-button
  .form__custom-radio-button-check {
  opacity: 1;
}

/* @media (width >= 360px) */
@media (min-width: 1024px) {
  .form__container-checkbox {
    grid-column: span 2;
  }
}

.form__checkbox {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  height: 69px;
}

/* @media (width >= 360px) */
@media (min-width: 1024px) {
  .form__checkbox {
    align-items: center;
    gap: 11px;
    height: 26px;
  }
}

/* @media (width >= 1024px) */
@media (min-width: 1920px) {
  .form__checkbox {
    gap: 19px;
  }
}

.form__checkbox input[type="checkbox"] {
  display: none;
}

.form__custom-checkbox {
  width: 20px;
  height: 20px;
  flex-shrink: 0;

  cursor: pointer;
}

/* @media (width >= 360px) */
@media (min-width: 1024px) {
  .form__custom-checkbox {
    width: 26px;
    height: 26px;
  }
}

.form__custom-checkbox-check {
  opacity: 0;
}

.form__checkbox
  input[type="checkbox"]:checked
  + .form__custom-checkbox
  .form__custom-checkbox-check {
  opacity: 1;
}

/* .form__checkbox-text {
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
} */

.form__buttons {
  display: flex;
  gap: 10px;
  height: 47px;
}

/* @media (width >= 360px) */
@media (min-width: 1024px) {
  .form__buttons {
    height: 58px;
    gap: 30px;
  }
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  width: 134px;
  /*  height: 47px; */

  border-radius: 10px;
  border: none;
}

/* @media (width >= 360px) */
@media (min-width: 1024px) {
  .form__button {
    width: 235px;
  }
}

.form__button_submit {
  background: var(--green-400);
  color: var(--white);
}

.form__button_submit:hover {
  background: var(--green-300);
}

.form__button_submit:active {
  background: var(--green-200);
}

.form__button_reset {
  background: var(--green-100);
  color: var(--green-400);
}

.form__button_reset:hover {
  background: var(--gray-100);
}

.form__button_reset:active {
  background: var(--gray-200);
}

/* collect-tour finish */

/* reviews start */

.reviews__cards {
  display: grid;
  grid-template-columns: 1;
  gap: 18px;
}

@media (width >= 360px) {
  .reviews__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 1024px) {
  .reviews__cards {
    gap: 30px;
  }
}

.reviews__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  border-radius: 20px;
  background: var(--beige-200);
}

@media (width >= 360px) {
  .reviews__card {
    padding: 40px;

    border-radius: 50px;
  }
}

@media (width >= 360px) {
  .reviews__comment p {
    font-family: var(--font-bold);
    font-size: 23px;
    line-height: 122%;
  }
}

.reviews__comment p:not(:first-child) {
  margin-top: 25px;
}

.reviews__traveler-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0 0;
}

@media (width >= 360px) {
  .reviews__traveler-info {
    padding-top: 70px;
  }
}

.reviews__text-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reviews__traveler-name .text {
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 0.04em;
}

@media (width >= 360px) {
  .reviews__traveler-name .text {
    font-size: 35px;
    line-height: 122%;
    letter-spacing: normal;
  }
}

.reviews__tour-name .text {
  font-size: 16px;
  line-height: 142%;
  letter-spacing: -0.01em;
}

@media (width >= 360px) {
  .reviews__tour-name .text {
    font-size: 17px;
  }
}

.reviews__traveler-photo img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}

/* reviews finish */

/* photos start */

.photos__gallery {
  display: grid;
  /* grid-template-columns: 1; */
  grid-template-rows: repeat(3, 110px);
  row-gap: 18px;
}

@media (min-width: 1024px) {
  .photos__gallery {
    grid-template-rows: repeat(3, 300px);
    row-gap: 30px;
    margin-left: -33px;
    margin-right: -33px;
  }
}

@media (min-width: 1920px) {
  .photos__gallery {
    margin-left: -345px;
    margin-right: -345px;
  }
}

.photos__gallery-row {
  display: grid;
}

.photos__gallery-row_odd {
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

.photos__gallery-row_even {
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media (min-width: 1024px) {
  .photos__gallery-row_odd {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .photos__gallery-row_even {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1920px) {
  .photos__gallery-row_odd {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  .photos__gallery-row_even {
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
  }
}

.photos__gallery-item {
  position: relative;
  overflow: hidden;
}

.hidden {
  display: none;
}

@media (min-width: 1024px) {
  .photos__gallery-item_hidden-1024 {
    display: block;
  }
}

@media (min-width: 1920px) {
  .photos__gallery-item_hidden-1920 {
    display: block;
  }
}

.photos__gallery-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;

  object-fit: cover;
  transform: translate(-50%, -50%);

  border-radius: 20px;
}

@media (min-width: 1024px) {
  .photos__gallery-img {
    border-radius: 50px;
  }
}

/* photos finish */

/* stories start */

.stories__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width >= 360px) {
  .stories__cards {
    gap: 50px;
  }
}

.stories__card {
  width: 318px;
  height: 455px;
  padding: 30px;
  border-radius: 20px;

  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media (width >= 360px) {
  .stories__card {
    width: 918px;
    height: 567px;
    border-radius: 50px;
  }
}

@media (width >= 1024px) {
  .stories__card {
    width: 1170px;
  }
}

.stories__card:nth-child(1) {
  background-image: url("../assets/images/story-photo-1.jpg");
}

.stories__card:nth-child(2) {
  background-image: url("../assets/images/story-photo-2.jpg");
}

.stories__card:nth-child(3) {
  background-image: url("../assets/images/story-photo-3.jpg");
}

/* stories finish */

/* contact start */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 0 13.5px;
}

.contact__img {
  width: 130px;
  height: 133px;
  margin: 0 auto;

  background-image: url("../assets/images/contact-photo.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.contact__heading {
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 0.04em;
}

@media (min-width: 1024px) {
  .contact {
    flex-direction: row;
    align-items: center;
    padding: 0 20.5px;
  }

  .contact__img {
    width: 370px;
    height: 370px;
    margin: 0;

    background-size: 100% 100%;
    border-radius: 50px;
  }

  .contact__text {
    flex: 1;

    text-align: left;
  }

  .contact__heading {
    font-size: 35px;
    font-family: var(--font-medium);
    line-height: 122%;
    letter-spacing: 0;
    text-align: left;
  }
}

@media (min-width: 1920px) {
  .contact {
    padding: 0 199.5px;
  }
}

/* contact finish */

/* main finish */

/* footer start */

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.footer__address {
  font-style: normal;
}

.footer__contacts {
  display: flex;
  gap: 15px;
  padding: 0;

  list-style-type: none;
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer__link::before {
  content: "";

  background-size: contain;
  background-repeat: no-repeat;
}

.footer__contact:nth-child(1) .footer__link::before {
  width: var(--size-icon-small-inst);
  height: var(--size-icon-small-inst);

  background-image: url("../assets/icons/inst.svg");
}

.footer__contact:nth-child(2) .footer__link::before {
  width: var(--size-icon-small-fb);
  height: var(--size-icon-small-fb);

  background-image: url("../assets/icons/fb.svg");
}

.footer__contact:nth-child(3) .footer__link::before {
  width: var(--size-icon-small-vk);
  height: var(--size-icon-small-vk);

  background-image: url("../assets/icons/vk.svg");
}

@media (min-width: 1024px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer__contacts {
    gap: 25px;
  }

  .footer__link {
    gap: 10px;
  }

  .footer__contact:nth-child(n) .footer__link::before {
    width: var(--size-icon-big);
    height: var(--size-icon-big);
  }
}

/* footer finish */
